.navbar {
  padding: 10px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
  height: 80px;
  max-width: 100%;
  margin: auto;
  background-color: #6741d9;
  padding: 10px;
  /* border-radius: 10px; */
  margin-bottom: 20px;
  position: sticky;
}

.credential {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  gap: 30px;
  font-size: 20px;
}

.logo {
  font-size: 30px;
  letter-spacing: 5px;
  text-align: start;
  text-transform: uppercase;
  text-decoration: none;
  color: aliceblue;
}
